@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font-size: 15px;
  --font-family: "Outfit", sans-serif;
  --mobile: 375px;
  --desktop: 1440px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--light-gray);
  font-family: var(--font-family);
  min-height: 100vh;
  display: grid;
  place-items: center;
  min-width: var(--mobile);
}

.container {
  background-color: var(--white);
  width: 320px;
  padding: 15px;
  padding-bottom: 45px;
  border-radius: 20px;
  margin-bottom: 45px;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 25px;
}

h1 {
  text-align: center;
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 15px;
}

p {
  text-align: center;
  color: var(--grayish-blue);
  font-weight: 400;
  padding: 0 12px;
  letter-spacing: 0.01rem;
}
